
<% action_url = cat.persisted? ? cat_url(cat) : cats_url %>



<form action="<%= action_url %>" method="POST">
  <% if cat.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <label for="name">Name:</label>
  <input type="text" id="name" name="cat[name]" value="<%= cat.name %>">
  <br>

  <label for="sex">Sex:</label><br>
  <input type="radio" name="cat[sex]" id="cat_sex_female" value="F"
    <%= cat.sex == "F" ? "checked" : "" %>>
  <label for="cat_sex_female">Female</label>
  <br>
  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M"
    <%= cat.sex == "M" ? "checked" : "" %>>
  <label for="cat_sex_male">Male</label>
  <br>

  <label for="color">Color:</label>
  <select name="cat[color]" id="color">
    <option value="" selected disabled></option>
    <% Cat::COLORS.each do |color| %>
      <option value="<%= color %>"
         <%= cat.color == color ? "selected" : "" %>><%= color %></option>
    <% end %>
  </select>
  <br>

  <label for="birth_date">Birth Date:</label>
  <input type="date" name="cat[birth_date]" value= "<%= cat.birth_date %>">
  <br>

  <label for="description">Description</label>
  <textarea name="cat[description]" id="description">
    <%= cat.description %>
  </textarea>

  <br>
  <input type="submit" value="Create cat">
</form>
